<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 관리 프로그램</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <main>
        <section class="container">


            <!-- 타이틀 -->
            <div class="title-1">
                <label>도서 검색, 수정, 삭제</label>
            </div>
            


            <!-- 모든 책 조회 -->
            <div class="content">



                <table>
                    <thead>
                        <td>책 번호</td>
                        <td>제목</td>
                        <td>글쓴이</td>
                        <td>가격</td>
                        <td>등록일</td>
                        <td>수정버튼</td>
                        <td>삭제버튼</td>
                    </thead>

                    <!-- tbody -->
                    <tbody id="searchList">
                        
                    </tbody>
                </table>


            </div>
    </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>